/* The component style is inserted here. */

.componentWrapper {
  height: 100%;
}

.main {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 100vh;
  row-gap: 2rem;

  &.foundBooks {
    grid-template-rows: min-content 1fr;
  }
}
