.books {
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  h2 {
    font-size: 2rem;
  }
  padding: 2rem;

  .bookWrapper {
    margin-bottom: 1rem;
    list-style-type: none;
  }
}
